html{
    background: #2c2b30;
    font-family: arial;
    color: #66FCF6;
}

a {
    color: #45a29e;
}

#me {
    float: right;
    margin: auto  auto;
    height: 1em;
    padding: 20px;
    border-radius: 50%;
    }

.description {
    font-size: 1rem;
    }

#socials{
    font-weight: bold;
    text-align: center;
    color: #45a29e;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60em;
}

p {
    text-align: left;
    width: 70em;
}

p, li, nav {
    color:#C5c6c7
}

p.company{
    color: #45a29e;
}

h1, h2, p, li{
    font-family: arial;
}

h1, p.description {
    text-align: left;
}

.subheader{
    width: 35em; 
    text-align: center;
    text-decoration: underline;

}

nav {
    text-align: left;
    margin-top: 1em;
    color:#C5c6c7
}